{% extends "base.html" %}
{% block title %}Doações{% endblock title %}
{% block content %}
<img id="imagemhome" src="{{url_for('static', filename='imagens/capa6.png')}}"/><br>
<aside>
    <div id="texto2">	
        A doação é um exercício de desapego. Ela deve beneficiar mais quem doa do que quem recebe. Todas as pessoas que lhe pedem dinheiro ou qualquer tipo de doação são como professores que vêm lhe ensinar e lhe conceder uma oportunidade para você exercitar e praticar a generosidade. E tenho acreditado cada vez mais que quando uma pessoa muito debilitada vem nos pedir ajuda, temos obrigação de ajudar só por termos tido a bênção de não estarmos naquela situação.
    </div>
</aside>
<br/><br/><br/>
<img style="margin-left:27%" src="{{url_for('static', filename='imagens/kkk.jpg')}}"/>
	 
<br/><br/><br/><br/><br/><br/><br/>
<div style="margin-left:27%">
    <h1>REALIZE SUAS DOAÇÕES PELA VAKINHA</h1>
   <p style="margin-left:20%"> https://www.vakinha.com.br/</p>
</div>
<br/><br/><br/>
{% endblock content %}

   
